@model List<DiarsT2.Models.Type>

<h1>Registrar tipo</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <form action="/Type/Register" method="post">
                <div class="form-group">
                    <label>Nombre</label>
                    <input type="text" name="Name" value="" class="form-control" />
                </div>
                <button type="submit" class="btn btn-outline-primary">Guardar</button>
            </form>
        </div>
    </div>
</div>